<launch>
	<!-- Open an image visualizer that can listen on various image topics -->
	<node name="visualizer" pkg="rqt_image_view" type="rqt_image_view" />

	<!-- Publish frames from the traffic video on a ros topic -->
	<node name="video_frame_publisher" pkg="traffic_analysis_from_drones" type="video_publisher.py" 
		args="--video_source '$(find traffic_analysis_from_drones)/data/traffic_video_dyrskuepladsen.mp4' --framerate 10"/>

	<!-- Connect the subscriber for the image_raw topic with the data on the /video_frame topic -->
	<remap to="/video_frame" from="image_raw"/>

	<!-- Stabilize the video -->
	<node name="stabilizer" pkg="video_stabilizer_node" type="stabilizer.py" />

	<!-- Detect and track moving objects in the video -->
	<node name="car_tracker" pkg="traffic_analysis_from_drones" type="car_tracker.py" />
</launch>
